*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
    width: 60em;
}



.timecontainer{
    display: inline-flex;
    flex-flow: row;
    height: 5em;
    width: auto;
}

.timebox{
    display: flex;
    flex-basis: 5em;
    background-color: cornflowerblue;
    border-radius: 5px;
    
}

.infotime{
    font-size: 0.8em;
    text-align: center;
    margin-top: 0em;
    padding: 0.2em;
    
}

.rowtime{
    margin: auto;
}

.middlepoint{
    font-size: 3em;
    margin-top: 0em;
    padding: 0.2em;
}

.timestat{
    min-width: 1.4em;
    font-size:2.5em;
    text-align: center;
    padding: 0;
    margin-top: -0.4em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}