#Cout{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.panspan{
    width: 100px;
}

.timecontainer{
    display: flex;
    flex-flow: row;
    border: solid 2px red;
    padding: 3px;
    width: 40em;
    height: 5em;
}

.timebox{
    display: flex;
    flex-basis: 5em;
    background-color: cornflowerblue;
    
}

.infotime{
    font-size: 0.8em;
    
}

.rowtime{
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.middlepoint{
    font-size: 3em;
    margin-top: 0em;
    padding: 0.2em;
}

.dagstat{
    font-size: 2em;
    text-align: center;
    border: solid 1px green;
}