$time: 20s;
body {
    margin: 0;
    position: relative;
    width: 100%;
    background-image:url(jesus.png); 
    background-size: cover;
    opacity: 0.8;
}

.max {
    max-width: 50em;
    margin: 0 auto;
    padding-top: 1em;
}
.headtext {
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 4em;
    text-align: center;
}

.tables {
    width: 60em;
    margin: 0 auto;
    border: black 2em;
}

.boxbox {
    height: 15em;
    width: 50em;
    margin-top: -0.2em;
}

.borderbox {
    border: solid 3px black !important;
    display: inline-block;
    background-color: rgba(0, 29, 255, 0.5);
}

.topbox {
    border-top: none;
}

.elema {
    margin-top: -8em;
    position: relative;
    left: 2em;
    font-size: 1em;
    display: inline-block;
    justify-content: space-around;
}

.elema1 {
    margin-left: 3em;
}

.elemb {
    margin-top: 4em;
    margin-left: -9em;
    position: relative;
    font-size: 1em;
    display: inline-block;
    img {
        height: 150px;
    }
}

.elemb1 {
    margin-left: -10em;
    img {
        height: 125px;
    }
}

.elemc {
    font-size: 1em;
    float: right;
    margin-top: -1em;
}

.elemd {
    font-size: 0.8em;
    margin-left: 22em;
    margin-top: -13em;
    display: inline-block;
}

.center {
    text-align: center;
}

.fix {
    margin-left: -12.5em;
}

.fix2 {
    margin-left: -7.5em;
}

.move {
    position: absolute;
    left: 10%;
    animation: move $time infinite;
    img {
        height: 150px;
    }
}

.move1 {
    position: absolute;
    right: 10%;
    animation: move1 $time infinite;
    img {
        height: 150px;
    }
}



/*
##############
    Navbar
##############
*/

.navigation {
  position: fixed;
  width: 100%;
  padding-left: 0em;
  list-style: none;
  margin: 0;
  
  background: rgba(0, 29, 255, 0.59);
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  border-left: rgba(255, 188, 0, 0.5) 1px solid;
  display: block;
  color: rgba(248, 183, 0, 0.81);
}

.navigation a:hover {
  background: darken(rgb(206, 0, 255), 2%);
}

.navigation a {
  text-align: center; 
  padding: 10px;
}

#cornertime {
    display: inline-flex;
    flex: auto;
}

/*
#################
    animation
#################
*/

@keyframes move {
    0%{
        transform: translate(10%, 600%);
    }10%{
        transform: translate(10%, 10%);
    }20%{
        transform: translate(10%, 600%);
    }30%{
        transform: translate(10%, 10%);
    }40%{
        transform: translate(10%, 600%);
    }50%{
        transform: translate(10%, 10%);
    }60%{
        transform: translate(10%, 600%);
    }70%{
        transform: translate(10%, 10%);
    }80%{
        transform: translate(10%, 600%);
    }90%{
        transform: translate(10%, 10%);
    }100%{
        transform: translate(10%, 600%);
    }
}

@keyframes move1 {
    0%{
        transform: translate(90%, 600%);
    }10%{
        transform: translate(90%, 10%);
    }20%{
        transform: translate(90%, 600%);
    }30%{
        transform: translate(90%, 10%);
    }40%{
        transform: translate(90%, 600%);
    }50%{
        transform: translate(90%, 10%);
    }60%{
        transform: translate(90%, 600%);
    }70%{
        transform: translate(90%, 10%);
    }80%{
        transform: translate(90%, 600%);
    }90%{
        transform: translate(90%, 10%);
    }100%{
        transform: translate(90%, 600%);
    }
}
