body {
  margin: 0;
  position: relative;
  width: 100%;
  background-image: url(jesus.png);
  background-size: cover;
  opacity: 0.8; }

.max {
  max-width: 50em;
  margin: 0 auto;
  padding-top: 1em; }

.headtext {
  text-align: center;
  position: relative;
  top: 5%;
  font-size: 4em;
  text-align: center; }

.tables {
  width: 60em;
  margin: 0 auto;
  border: black 2em; }

.boxbox {
  height: 15em;
  width: 50em;
  margin-top: -0.2em; }

.borderbox {
  border: solid 3px black !important;
  display: inline-block;
  background-color: rgba(0, 29, 255, 0.5); }

.topbox {
  border-top: none; }

.elema {
  margin-top: -8em;
  position: relative;
  left: 2em;
  font-size: 1em;
  display: inline-block;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.elema1 {
  margin-left: 3em; }

.elemb {
  margin-top: 4em;
  margin-left: -9em;
  position: relative;
  font-size: 1em;
  display: inline-block; }
  .elemb img {
    height: 150px; }

.elemb1 {
  margin-left: -10em; }
  .elemb1 img {
    height: 125px; }

.elemc {
  font-size: 1em;
  float: right;
  margin-top: -1em; }

.elemd {
  font-size: 0.8em;
  margin-left: 22em;
  margin-top: -13em;
  display: inline-block; }

.center {
  text-align: center; }

.fix {
  margin-left: -12.5em; }

.fix2 {
  margin-left: -7.5em; }

.move {
  position: absolute;
  left: 10%;
  -webkit-animation: move 20s infinite;
  animation: move 20s infinite; }
  .move img {
    height: 150px; }

.move1 {
  position: absolute;
  right: 10%;
  -webkit-animation: move1 20s infinite;
  animation: move1 20s infinite; }
  .move1 img {
    height: 150px; }

/*
##############
    Navbar
##############
*/
.navigation {
  position: fixed;
  width: 100%;
  padding-left: 0em;
  list-style: none;
  margin: 0;
  background: rgba(0, 29, 255, 0.59);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.navigation a {
  text-decoration: none;
  border-left: rgba(255, 188, 0, 0.5) 1px solid;
  display: block;
  color: rgba(248, 183, 0, 0.81); }

.navigation a:hover {
  background: #c600f5; }

.navigation a {
  text-align: center;
  padding: 10px; }

.Corntime {
  display: block;
  border: 1px solid red;
  height: 1em;
  position: fixed;
  left: 1px;
  margin-top: 0.5em; }
  .Corntime p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em; }

/*
#################
    animation
#################
*/
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  10% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  20% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  30% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  40% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  50% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  60% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  70% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  80% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  90% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  100% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); } }
@keyframes move {
  0% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  10% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  20% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  30% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  40% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  50% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  60% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  70% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  80% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); }
  90% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%); }
  100% {
    -webkit-transform: translate(10%, 600%);
    transform: translate(10%, 600%); } }

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  10% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  20% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  30% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  40% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  50% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  60% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  70% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  80% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  90% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  100% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); } }

@keyframes move1 {
  0% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  10% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  20% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  30% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  40% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  50% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  60% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  70% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  80% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); }
  90% {
    -webkit-transform: translate(90%, 10%);
    transform: translate(90%, 10%); }
  100% {
    -webkit-transform: translate(90%, 600%);
    transform: translate(90%, 600%); } }
