body {
    margin: 0;
    position: relative;
    width: 100%;
    background-image:url(jesus.png); 
    background-size: cover;
    opacity: 0.8;
}

.max {
    max-width: 60em;
    margin: 0 auto;
    padding-top: 1em;
}
.headtext {
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 4em;
    text-align: center;
}

.tables {
    width: 60em;
    margin: 0 auto;
    border-bottom: black  2em;
}
.tableborder {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
.klasi{
      border-bottom: 1px black solid;
}

.klasi2{
       border-right: 1px black solid;
}

/*
##############
    Navbar
##############
*/

.navigation {
  position: fixed;
  width: 98%;
  list-style: none;
  margin: 0;
  
  background: rgba(0, 29, 255, 0.59);
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  border-left: rgba(255, 188, 0, 0.5) 1px solid;
  display: block;
  color: rgba(248, 183, 0, 0.81);
}

.navigation a:hover {
  background: darken(rgb(206, 0, 255), 2%);
}

.navigation a {
  text-align: center; 
  padding: 10px;
}