body {
    margin: 0;
    position: relative;
    width: 100%;
    background-image:url(jesus.png); 
    background-size:cover;
    opacity: 0.8;
}

.headtext {
    padding-top: 5%;
    font-size: 4em;
}

.bott {
    font-size: 2em;
    display: inline;
    margin-bottom: 2em;
}

.bottbox {
    padding: 1em;
    width: 100%;
    padding: 0;
    background-color: aqua;
    margin-top: 24em;
    height: auto;
    position: absolute;
    text-align: center;
    
    .fleks{
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: space-around;
        .bottboxtext{
            display: flex;
            flex-flow: row;
            width: 45%;
            img {
                padding-top: 2em;
                width: 100px;
                height: 100px;
            }
        }
    }
}

/*
##############
    Navbar
##############
*/

.navigation {
  position: fixed;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 0;
  
  background: rgba(0, 29, 255, 0.59);
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  border-left: rgba(255, 188, 0, 0.5) 1px solid;
  display: block;
  color: rgba(248, 183, 0, 0.81);
}

.navigation a:hover {
  background: darken(rgb(206, 0, 255), 2%);
}
  
.navigation a {
  text-align: center; 
  padding: 10px;
}


.navigation li:last-of-type a {
  border-bottom: none;
}

/*
#################
    Countdown
#################
*/

.timecontainer{
    display: inline-flex;
    flex-flow: row;
    height: 8em;
    width: auto;
    margin-top: 4%;
}

.timebox{
    display: flex;
    flex-basis: 5em;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.infotime{
    font-size: 0.8em;
    text-align: center;
    margin-top: 0em;
    padding: 0.2em;
}

.rowtime{
    margin: auto;
}

.middlepoint{
    font-size: 5em;
    margin-top: 0em;
    padding: 0.2em;
}

.timestat{
    min-width: 1.4em;
    font-size:6em;
    font-size:6em;
    text-align: center;
    padding: 0;
    margin-top: -0.2em;
    padding-right: 0em;
    padding-left: 0em;
}

@media screen and (max-width: 60em) {
        .fleks{
        display: flex;
        flex-flow: column wrap;
        flex-direction: column;
        justify-content: space-around;
        .bottboxtext{
            display: flex;
            flex-flow:  column;
            }
    }
        .bottboxtext {
        width: 100% !important;
    }
}