body {
    margin: 0;
    position: relative;
    width: 100%;
}

.headtext {
    position: absolute;
    font-size: 4em;
}







/*
##############
    Navbar
##############
*/

.navigation {
  position: fixed;
  width: 100%;
  list-style: none;
  margin: 0;
  
  background: rgba(0, 29, 255, 0.59);
    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
    padding-left: 0em;
}

.Corntime{ 
    display: block;
    border: 1px solid red;
    height: 1em;
    p{
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        
    }
    position: fixed;
    left: 1px;
    margin-top: 0.5em;
}

.navigation a {
  text-decoration: none;
  border-left: rgba(255, 188, 0, 0.5) 1px solid;
  display: block;
  color: rgba(248, 183, 0, 0.81);
}

.navigation a:hover {
  background: darken(rgb(206, 0, 255), 2%);
}
  
.navigation a {
  text-align: center; 
  padding: 10px;
}


.navigation li:last-of-type a {
  border-bottom: none;
}
